.details-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .details-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .details-img-container {
    display: flex;
    justify-content: center;
    background: var(--W);
    border-radius: 4px;
  }
  .details-img-container img {
    width: 560px;
    height: 616px;
    object-fit: scale-down;
  }
  
  .details-name-item {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .details-rating-value {
    display: flex;
    font-size: 1.125rem;
    color: var(--c2);
    position: relative;
    align-items: center;
  }
  
  .details-rating-value::before {
    content: "";
    display: inline-block;
    background-image: url("../img/star-solid.svg");
    width: 18px;
    height: 20px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .details-value-item {
    display: grid;
    gap: 8px;
  }
  
  .description {
    display: inline-block;
    margin-top: 20px;
    width: 260px;
    word-break: keep-all;
  }
  
  .details-value-item .value-detail {
    font-size: 12px;
    padding: 0;
    color: var(--c2);
  }
  
  .details-value-item .price,
  .details-price {
    font-size: 1.75rem;
  }
  
  .isAvaiable {
    display: inline-block;
    font-size: 24px;
    color: var(--c6);
    margin-bottom: 25px;
  }

  .buy-container {
    display: grid;
    border: 2px solid var(--p1);
    border-radius: 4px;
    padding: 20px 30px;
    width: 265px;
    box-sizing: border-box;
  }
  
  .buy-container ul {
    margin-top: 25px;
  }
  
  .buy-container ul li {
    align-self: center;
    margin-bottom: 4px;
  }
  
  .buy-container ul li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url("../img/checked.svg");
    margin-right: 8px;
  }
  
  .button {
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.875rem;
    width: 100%;
    height: 44px;
    margin-top: 10px;
    color: var(--W);
    border: none;
    cursor: pointer;
  }
  
  .button.primario {
    background: var(--c6);
  }
  .button.primario:hover {
    background: var(--c6-hover);
  }
  
  .button.secundario {
    background: var(--c5);
  }
  .button.secundario:hover {
    background: var(--c5-hover);
  }


  
  @media (max-width: 615px) {
    .details-item-grid{
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .details-value-item{
      grid-template-areas:
      "rating cost-details "	
      "title title "	
      "description description "	
      ;
    }  

    .details-img-container img{
      height: 250px;
    }

    .cost-details{
      line-height: 1;
      grid-area: cost-details;
      justify-self: end;
    }
    
    .description{
      font-size: 18px;
      width: 100%;
      grid-area: description;
      margin: 0;
    }
    .details-name-item{
      grid-area: title;
      font-size: 28px;
    }

    .details-rating-value{
      grid-area: rating;
      font-size: 1rem;
    }

    .details-price{
      font-size: 1.5rem;
    }

    .buy-container{
      width: 100%;
    }

    .button {
      justify-self: center;
      width: 90%;
    }

    .details-content{
      gap: 20px;
    }
  }